<div class="flex flex-row gap-8 mb-8">
  <div class="w-1/2">
    <%= image_tag podcast.image_url if podcast.image.present? %>
  </div>

  <div>
    <header class="flex flex-cols mb-4">
      <h2 class="text-4xl font-bold tracking-wide text-red-700 grow"><%= link_to podcast.name, podcast_url(podcast) %></h2>

      <div class="justify-self-end">
        <%= link_to podcast_url(podcast, format: :rss) do %>
          <div class="bg-red-700 text-gray-200 rounded-xl p-3">
            <%= render "icons/rss" %><span class="hidden ml-2">Feed</span>
          </div>
        <% end %>
      </div>
    </header>

    <%= simple_format podcast.description %>

    <% if podcast.explicit %>
      <div>
        <em>warning: Contains explicit content</em>
      </div>
    <% end %>

    <% if edit? %>
    <div class="mt-4">
      <%= link_to edit_podcast_url(podcast), class: "bg-amber-700 text-gray-300 p-3 rounded-md" do %>
        <%= render "icons/pencil" %> edit
      <% end %>
    </div>
    <% end %>
  </div>
</div>

