<% summary ||= false %>

<% if episode.errors.any? %>
  <ul>
  <% episode.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>


<%= form_with model: episode, builder: TailwindFormBuilder, url: [podcast, episode] do |form| %>
  <%= hidden_field_tag :index, params[:index] %>

  <%= form.grid do %>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :number %>
    <%= form.number_field :number %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 4 %>

    <%= form.label :published %>
    <%= form.date_field :published %>

    <% unless summary %>
      <%= form.label :audio, class: "pt-0" %>
      <%= form.hidden_field :audio, value: episode.cached_audio_data %>
      <%= form.file_field :audio %>

      <% if episode.audio_data %>
        <span></span>
        <div>
          <%= link_to episode.audio.metadata["filename"], episode.audio_url, class: "text-red-700"  %> (<%= ActiveSupport::Duration.build(episode.audio.metadata["duration"]).inspect %>)
        </div>
      <% end %>
    <% end%>

    <%= form.check_box :explicit, class: "justify-self-end pt-2" %>
    <%= form.label :explicit, "Contains explicit content", class: "justify-self-begin pt-0" %>

    <% unless summary %>
      <%= form.label :show_notes  %>
      <%= form.text_area :show_notes, data: { "controller": "mde" } %>
    <% end %>

    <%= form.actions do %>
      <%= form.submit class: "bg-stone-500 p-4 rounded-md font-bold"  %>
      <%= form.cancel (params[:index].present? || episode.new_record?) ? podcast_path(podcast) : podcast_episode_path(podcast, episode) %>
    <% end %>
  <% end %>

<% end %>
