<%= render PodcastHeaderComponent.new podcast: @podcast %>

<article class="bg-slate-200 shadow">
  <header class="m-6">
    <div class="flex flex-row">
      <h2 class="text-2xl py-6 grow"><%= @episode.title %></h2>

      <%= link_to "Edit Episode", edit_podcast_episode_path(@podcast, @episode) %>
    </div>

    <p>
    <%= simple_format @episode.description %>
    </p>
  </header>

  <div class="flex w-full sticky top-0 bottom-0">
    <%= audio_tag @episode.audio_url, controls: true, class: "grow" if @episode.audio.present? %>
  </div>


  <h3 class="m-6 text-2xl font-bold">Show Notes</h3>

  <div class="prose m-6">
    <%= markdown @episode.show_notes %>
  </div>



  <footer class="m-6">
    <%= link_to "Edit Episode", edit_podcast_episode_path(@podcast, @episode) %>
  </footer>
</article>
