<div class="flex flex-row gap-8 mb-8">
  <div class="max-w-md">
    <%= link_to image_tag(podcast.image_url), podcast_url(podcast) if podcast.image.present? %>
  </div>

  <div>
    <header class="flex flex-cols mb-4">
      <h2 class="text-4xl font-bold tracking-wide text-red-700 font-header text-shadow-xs shadow-slate-600/20 grow"><%= link_to podcast.name, podcast_url(podcast) %></h2>

      <div class="justify-self-end">
        <%= link_to podcast_url(podcast, format: :rss) do %>
          <div class="bg-red-700 text-gray-200 rounded-xl p-3">
            <%= icon "rss-fill" %> Feed
          </div>
        <% end %>
      </div>
    </header>

    <%= simple_format podcast.description %>

    <% if podcast.explicit %>
      <div>
        <em>warning: Contains explicit content</em>
      </div>
    <% end %>

    <%= render Controls.new @podcast %>
  </div>
</div>

