<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casts</title>
    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
  </head>
  <body>

    <header>
      <h1><%= link_to "cast.athas.org", "/" %></h1>

      <nav id="sitenav">
        <%= link_to "burnt world of athas", "https://athas.org" %>
        <%= link_to "arena", "https://arena.athas.org" %>
        <%= link_to "podcasts", routes.path(:root) %>
        <%= link_to "profiles", "#" %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <%= javascript_tag "app" %>
  </body>
</html>
