<h2 class="text-4xl font-bold tracking-wide text-red-700"><%= @podcast.name %></h2>

[<%= link_to "feed", podcast_url(@podcast, format: :rss) %>]


<div class="flex flex-row">
  <div class="">
    <%= image_tag @podcast.image_url if @podcast.image.present? %>
  </div>

  <div>
    <p>
    <%= simple_format @podcast.description %>
    </p>

    <% if @podcast.explicit %>
      <div>
        <em>warning: Contains explicit content</em>
      </div>
    <% end %>
  </div>
</div>

<section id="hosts">
  <ul>
    <% @podcast.hosts.each do |host| %>
      <li><%= host.display_name %></li>
    <% end %>
  </ul>
</section>


<section id="episodes">
  <% @podcast.episodes.each do |episode| %>
    <article>
      <h3 class="text-xl text-red-700 font-semibold tracking-wide underline"><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h3>
      <p>
        <%= simple_format episode.description %>
      </p>

      <%= audio_tag episode.audio_url, controls: true if episode.audio.present? %>
    </article>
  <% end %>

  <footer>
    <%= link_to "New Episode", new_podcast_episode_path(@podcast) %>
  </footer>
</section>
