<article class="bg-slate-200 p-6 shadow-lg">
  <%= render PodcastHeaderComponent.new @podcast, policy: policy(@podcast) %>

  <section id="hosts">
    <ul>
      <% @podcast.hosts.each do |host| %>
        <li><%= host.display_name %></li>
      <% end %>
    </ul>
  </section>
</article>


<section id="episodes">
  <% @podcast.episodes.published.each do |episode| %>
    <%= turbo_frame_tag episode do %>
      <%= render "episodes/summary", episode: episode, podcast: @podcast %>
    <% end %>
  <% end %>

  <footer>
    <%= link_to "New Episode", new_podcast_episode_path(@podcast),
      class: "bg-amber-700 p-4 text-gray-300 rounded-md font-bold" if policy(@podcast.episodes.build).new? %>
  </footer>
</section>
