<article class="bg-slate-200 p-6 shadow-lg">
  <%= render PodcastHeaderComponent.new podcast: @podcast %>

  <section id="hosts">
    <ul>
      <% @podcast.hosts.each do |host| %>
        <li><%= host.display_name %></li>
      <% end %>
    </ul>
  </section>
</article>


<section id="episodes">
  <% @podcast.episodes.each do |episode| %>
    <article class="my-4">
      <header class="flex flex-cols">
        <h3 class="text-xl text-red-700 font-semibold tracking-wide underline grow"><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h3>

        <%= link_to "edit", edit_podcast_episode_url(@podcast, episode) %>
      </header>
      <p class="prose">
        <%= simple_format episode.description %>
      </p>

      <%= audio_tag episode.audio_url, controls: true, class: "w-full" if episode.audio.present? %>
    </article>
  <% end %>

  <footer>
    <%= link_to "New Episode", new_podcast_episode_path(@podcast) %>
  </footer>
</section>
