<!DOCTYPE html>
<html>
  <head>
    <title>Cast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class="bg-[#dec897]">
    <section class="container mx-auto py-12 px-6 grid grid-rows-[fit-content(3rem)_2fr_fit-content(2rem)] h-screen">

      <header class="pb-8">
        <h1 class="text-5xl font-bold">casts.athas.org</h1>
      </header>

      <main>
        <% flash.each do |key, message| -%>
          <%= tag.div message, class: key %>
        <% end -%>

        <%= yield %>
      </main>
    </section>
  </body>
</html>
