<!DOCTYPE html>
<html>
  <head>
    <title>Cast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
    <section class="container mx-auto py-2 px-6 grid grid-rows-[fit-content(3rem)_2fr_fit-content(2rem)] h-screen">

      <header class="pb-0 background-image-ds-logo pb-1 justify-end flex flex-col" id="heading">
        <h1><%= link_to "cast.athas.org", root_path %></h1>
      </header>

      <nav id="sitenav" class="flex flex-row gap-4 p-3">
        <%= link_to "burnt world of athas", bwoa_url, class: "hover:text-red-700", data: { turbo: false } %>
        <%= link_to "arena", arena_url, class: "hover:text-red-700", data: { turbo: false } %>
        <%= link_to "podcasts", root_url, class: "hover:text-red-700" %>

        <%= link_to "profiles", profiles_url, class: "hover:text-red-700 grow" %>

        <span class="text-shadow-xs shadow-slate-300/60">
        <% if current_profile %>
          <%= link_to current_profile.display_name, profile_path(current_profile) %>
          <%= link_to "Log out", logout_path, class: "hover:text-red-700" %>
        <% else %>
          <%= link_to "Log in", login_path, class: "hover:text-red-700" %>
        <% end %>
        </span>
      </nav>

      <section>
        <% if flash[:notice] %>
          <div class="notice py-4 px-6 bg-emerald-700 text-gray-200 border-2 border-emerald-800 flex flex-row gap-3">
            <%= icon("check-circle") %>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert py-4 px-6 bg-orange-300  border-2 border-amber-800 flex flex-row gap-3">
            <%= icon("exclamation-diamond-fill") %>
            <%= flash[:alert] %>
          </div>
        <% end %>

        <main class="bg-white">
          <%= yield %>
        </main>
      </section>
    </section>
  </body>
</html>
