<!DOCTYPE html>
<html>
  <head>
    <title>Cast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class="bg-[#dec897]">
    <section class="container mx-auto py-12 px-6 grid grid-rows-[fit-content(3rem)_2fr_fit-content(2rem)] h-screen">

      <header class="pb-8" id="heading">
        <h1 class="text-5xl font-bold"><%= link_to "casts.athas.org", root_path %></h1>

        <nav class="flex flex-row gap-4">
          <%= link_to "burnt world of athas", bwoa_url, class: "hover:text-red-700", data: { turbo: false } %>
          <%= link_to "arena", arena_url, class: "hover:text-red-700", data: { turbo: false } %>
          <%= link_to "podcasts", root_url, class: "hover:text-red-700" %>

          <% if current_profile %>
            <%= link_to current_profile.display_name, profile_path(current_profile) %>
            <%= link_to "Log out", logout_path, class: "hover:text-red-700" %>
          <% end %>
        </nav>
      </header>

      <main>
        <% if flash[:notice] %>
          <div class="notice py-4 px-6 bg-emerald-700 text-gray-200 border-2 border-emerald-800 flex flex-row gap-3">
            <%= render "icons/check" %>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert py-4 px-6 bg-orange-300  border-2 border-amber-800 flex flex-row gap-3">
            <%= render "icons/alert" %>
            <%= flash[:alert] %>
          </div>
        <% end %>


        <%= yield %>
      </main>
    </section>
  </body>
</html>
